@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
html{
    margin: 0;
}
body{
    margin: 0;
    font-family: Inter, san-serif;
    color: black;
    background-color: white;
}
h1{
    margin: 30px;
    font-weight: 700;
}
.desc{
    margin-bottom: 50px;
    font-weight: 600;
}
.container{
    margin: 150px auto 100px;
    width: 80%;
    text-align: center;
}
input{
    border: 2px solid black;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    font-weight: 600;
    padding-left: 10px;
}
select{
    border: 2px solid black;
    height: 34px;
    width: 90px;
    border-radius: 5px;
    font-weight: 600;
}
button{
    font-size: medium;
    font-weight: bold;
    height: 40px;
    width: 120px;
    margin-top: 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
#result{
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 50px;
}

@media (max-width: 400px) {
    h1{
        margin: 30px;
        font-size: 20px;
        font-weight: 700;
    }
    .desc{
        margin-bottom: 20px;
    }
    .container{
        margin: 100px auto 100px;
        width: 80%;
        text-align: center;
    }
    input{
        border: 2px solid black;
        height: 30px;
        width: 200px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    .inputfield{
        padding: 20px;
    }
    select{
        border: 2px solid black;
        height: 34px;
        width: 90px;
        border-radius: 5px;
    }
    button{
        height: 30px;
        width: 100px;
        margin-top: 10px;
        font-size: small;
    }
    #result{
        font-size: large;
        font-weight: bolder;
        margin-top: 50px;
    }
}
